@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;700&family=Press+Start+2P&display=swap");

:root {
  --max-width: 1100px;
  --primary-dark: #5a1757;
  --primary-medium: #8c4a89;
  --primary-light: #c876c4;
  --primary-lighter: #fad2f8;
  --accent: #fcb706;
  --success: #4caf50;
  --error: #f44336;
  --warning: #ff9800;
  --gray-medium: #9b9b9b;
  --gray-light: #e0e0e0;
  --text: #333;
  --text-light: #616161;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  font-family: "Oxanium", sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
h1,
h2,
h3 {
  font-family: "Press Start 2P", cursive;
}
.main {
  background-color: var(--primary-lighter);
  color: var(--text);
  height: 100vh;
  padding: 1.5rem 1rem;
}
.main::before {
  content: "";
  position: absolute;
  inset: 1.5rem 1rem;
  border: 2px solid var(--primary-light);
}

@media (min-width: 768px) {
  .main {
    padding: 2rem;
  }
  .main::before {
    inset: 2rem;
    border: 4px solid var(--primary-light);
  }
}
.main > div {
  position: relative;
}
input {
  font-family: "Oxanium", sans-serif;
  border: none;
  font-size: inherit;
}
input:focus {
  outline-offset: 4px;
}
body {
  line-height: 1;
}
button {
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
button:disabled {
  background-color: var(--gray-light);
  color: var(--gray-medium);
  cursor: not-allowed;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
