.container {
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: clamp(1.5rem, 3vw, 3rem);
  text-align: center;
  margin-bottom: 2rem;
}

.waysToJoin {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container button {
  margin-top: 0.5rem;
}

.skinPanel{
  background-color: silver;
  position:fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 1300px;
  height: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  overflow-y: hidden;
  border: 20px solid gray;
}
.skinList{
  margin: 20px;
  display: flex;
  
}
.skinItem{
  display: flex;
  margin: 10px;
  padding: 10px;
  flex-direction: column;
  background-color: gray;
  
  text-align: center;
}

.skinItem h3{
  margin-top: 5px;
  padding: 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
}