.container {
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: clamp(1.5rem, 3vw, 3rem);
  text-align: center;
  margin-bottom: 2rem;
}

.waysToJoin {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container button {
  margin-top: 0.5rem;
}
