.container {
  width: 90%;
  max-width: 1200px;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.waysToJoin {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container button {
  margin-top: 0.5rem;
}

.skinPanel{
  background-color: red;
  position:fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 1300px;
  height: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  
}