.container {
  width: 90%;
  min-height: 250px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  font-size: 2rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
